body{
        background-color: rgb(108, 74, 74);
    }
        h1{
            background-color: rgb(237, 237, 237);
            color: rgb(108, 74, 74);
            font-size: 60px;
        }
        .welcome{
            color: rgb(108, 74, 74);
            background-color: rgb(221, 190, 190);
            font-size: 20px;
            text-decoration:underline;
        }
        h2{
            color: rgb(237, 237, 237);
            font-size: 35px;
        }
        .about-us{
            color: rgb(200, 149, 149);
            font-size: 17px;
        }
        #i1{
        border: dashed;
            border-color: rgb(221, 190, 190);
        }
       .list{
       color: rgb(237, 237, 237);
            font-size: 30px;
       }
       ul{
       color: rgb(200, 149, 149);
            font-size: 20px;
       }
       .the{
       color: rgb(237, 237, 237);
            font-size: 32px;
       }
       .m1{
             text-align:center;
             color: rgb(237, 237, 237);
            font-size: 15px;
        }
